.cart-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}


.cart-item {
  background-color: #fff;
  transition: box-shadow 0.2s ease-in-out;
}
.cart-item-box { 
  width: 80%; 
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.cart-item:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
