<section class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="container bg-secondary-subtle p-5 my-5 rounded shadow-sm ">
      <div class="row">
        <h1 class="text-main fs-3 fw-bolder text-center">Forget Password</h1>
  
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
          <div class="my-2 ">
            <label for="email" class="mb-1"
              >Email: <span class="text-danger">*</span></label
            >
            <input
              type="email"
              class="form-control "
              formControlName="email"
              placeholder="ex:johndoe@.com"
              [ngClass]="{
                'is-valid':
                  !forgetPasswordForm.get('email')?.errors &&
                  (forgetPasswordForm.get('email')?.touched ||
                    forgetPasswordForm.get('email')?.dirty),
                'is-invalid':
                  forgetPasswordForm.get('email')?.errors &&
                  (forgetPasswordForm.get('email')?.touched ||
                    forgetPasswordForm.get('email')?.dirty)
              }"
            />
          </div>
          @if(forgetPasswordForm.get('email')?.errors &&
          forgetPasswordForm.get('email')?.touched){
          <div class="alert alert-danger my-2 p-2 fs-6 fw-bold rounded">
            @if(forgetPasswordForm.get('email')?.getError('required')){
            <p class="m-0">Email is required</p>
            } @else if (forgetPasswordForm.get('email')?.getError('email')) {
            <p class="m-0">Email is not valid</p>
            }
          </div>
          }
  
          <button
            [disabled]="forgetPasswordForm.invalid"
            type="submit"
            class="btn-main w-50 mx-auto d-block"
          >
            Send reset code @if(loading){
            <span><i class="fa-solid fa-circle-notch fa-spin"></i></span>
            }
          </button>
        </form>
      </div>
    </div>
  </section>