<section class="p-5">
    <div class="verify-container mb-5">
<div class="mb-5">
      <div class="background-particles ">
   
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
  </div>

  <div class="checkmark-icon">
<i class="fa-solid fa-circle-check "></i>
 </div>
</div>

  <h2 class="verified-title pt-4">Email Verified</h2>
  <p class="verified-message">Congratulations, your email has been verified. You can start using the app</p>

  <button class="btn btn-primary w-100">CONTINUE</button>
</div>

</section>