<section class="vh-100">
    <div class="d-flex justify-content-center align-items-center myvh position-relative">
        <div class="col-2">
            <img src="../../../assets/imgs/image-removebg-preview (2).png" alt="" class=" overflow-image ">
        </div>
       <div class="col-8 d-flex justify-content-center align-items-center  flex-column text-center">
        <h1 class="fw-bolder text-main display-2 secondFont color-gradient">
            <span id="typed-text"></span>
          </h1>

         
        <h5 class="mt-3 textmax darkblue fw-bold">
            Our licensed pharmacists are available to answer any questions you may have about your medications and offer expert advice on managing your health.</h5>
       </div>
       <div class="col-2 ">
            <img src="../../../assets/imgs/image-removebg-preview (3).png" alt="" class=" overflow-image2">
        </div>
    </div>
</section>


<section class="features-section">
    <h5 class="text-main">Medical Checkup</h5>
    <h2>Why Choose PharmAssist For Your Healthcare?</h2>
    <div class="row features-grid">
        <div class="col-lg-3 col-md-6 col-sm-12 feature-card d-flex justify-content-center align-items-center flex-column">
            <div class="feature-icon "><i class="fas fa-mobile-alt"></i></div>
            <div class="feature-title">Our Journey</div>
            <div class="feature-text">Delivering on our promise toward innovative science and healthcare</div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-card d-flex justify-content-center align-items-center flex-column">
            <div class="feature-icon"><i class="fas fa-user-md"></i></div>
            <div class="feature-title">Quality</div>
            <div class="feature-text">Our vision is to globalize, harmonize and simplify GxP processes to achieve sustainable</div>
        </div>
        <div class=" col-lg-3 col-md-6 col-sm-12 feature-card d-flex justify-content-center align-items-center flex-column">
            <div class="feature-icon"><i class="fas fa-file-medical"></i></div>
            <div class="feature-title">Medical Record</div>
            <div class="feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 feature-card d-flex justify-content-center align-items-center flex-column" >
            <div class="feature-icon"><i class="fas fa-headset"></i></div>
            <div class="feature-title">ChatBot</div>
            <div class="feature-text">ChatBot to recommed the suitable medicine and price for you.</div>
        </div>
    </div>
</section>
