.logo{
    width: 55px;
    height: 60px;
}
.scrollPading{
    padding: 15px;
  
}
nav{
    transition: all .5s;
}
.navdot a::after{
    content: ""; 
    width: 6px;
    height: 6px;
    position: absolute;
    border: 1px solid var(--light-color);
    top:45px;
    border-radius:20px;
    background-color: var(--light-color);
}
.nav-links.active .navdot a::after{
    width: 20px;
    height: 20px;
    top:40px;
    left: -7px;
    background-color: var(--primary-color);
    
}
.active-link:hover{
    color: white !important;
}